/* the main css file for the whole site - KISS
 * burnt orange: #DD5500;
 * good blue: #33b5e5;
 * good blue(hover): #0099cc;
 */

/*
@media screen and (max-width:749px) {
}
*/

* {
    box-sizing: border-box;
}

.header {
    width:100%;
    margin:auto;
    background-color: #DD5500;
    color: white;
    padding: 10px;
    text-align:left;
    border-radius:7px;
    font-size:2.5em;
}

.footer {
    background-color: #DD5500;
    color: white;
    padding: 10px;
    text-align:center;
    border-radius:7px;
}

.column {
    float: left;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    width: 25%;
    max-width:200px;
    min-width:200px;
    margin-top:20px;
}

.content {
    width: 75%;
    max-width:750px;
    margin-right:auto;
    margin-left:20px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33a4e5;
    color: #ffffff;
    border-radius:3px;
}

.menu li:hover {
    background-color: #0088cc;
}

code {
    background-color: #EDEDED;
    padding:2px;
    border-radius:3px;
}

pre code {
    display: block;
    background-color: #DDDDDD;
    padding: 5px;
    border-radius:7px;
    overflow:scroll;
    max-height:30em;
}

h1,h2,h3,h4,h5,h6 {
    color: #DD4400;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}


